* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 92%);
  padding: 10px;
}
.card {
  border: 1px solid hsl(0, 0%, 80%);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.card-header {
  border-bottom: 1px solid hsl(0, 0%, 80%);
}
.card-footer {
  border-top: 1px solid hsl(0, 0%, 80%);
}
.card-header, .card-footer {
  background-color: hsl(0, 0%, 95%);
}
.card-body, .card-header, .card-footer {
  padding: 16px;
}
.w-50 {
  width: 50%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}